@font-face {      
    font-family: 'Roboto';
        
        src:    url('https://nomail.com.ua/files/eot/54a91b0619ccf9373d525109268219dc.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/54a91b0619ccf9373d525109268219dc.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/54a91b0619ccf9373d525109268219dc.woff2') format('woff2');
}
@font-face {  
  font-family: 'HelveticaNeueCyr-Light';
    
    src:    url('https://nomail.com.ua/files/eot/2127aa6d0680b144a3bd8be9debeba09.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/2127aa6d0680b144a3bd8be9debeba09.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/2127aa6d0680b144a3bd8be9debeba09.woff2') format('woff2');
}
@font-face {  
font-family: 'Avenir Next';
    
    src:    url('https://nomail.com.ua/files/eot/1f1c6c5055bfc41663d1d1adf4b29604.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/1f1c6c5055bfc41663d1d1adf4b29604.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/1f1c6c5055bfc41663d1d1adf4b29604.woff2') format('woff2');
}
@font-face {
  font-family: 'Gilroy';
      
      src:    url('https://nomail.com.ua/files/eot/d90fa984926d3745c7e68bc525692c26.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/d90fa984926d3745c7e68bc525692c26.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/d90fa984926d3745c7e68bc525692c26.woff2') format('woff2');
  }

@font-face {
font-family: 'OpenSans';
    
    src:    url('https://nomail.com.ua/files/eot/1bf71be111189e76987a4bb9b3115cb7.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/1bf71be111189e76987a4bb9b3115cb7.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/1bf71be111189e76987a4bb9b3115cb7.woff2') format('woff2');
}
