// colors
$color-aside-main: #5838c2;
$color-aside-colors: #FF4136;
$color-aside-fruits: #B10DC9;
$color-aside-transport: #FF851B;
$color-aside-clothes: #2ECC40;
$color-aside-shapesSimple: #0074D9;
$color-aside-shapesHard: #85144B;
$color-aside-actionsSimple: #FFDC00;
$color-aside-actionsHard: #39CCCC;

$color-circle: #e2fced;

// background train / play mode
$backimage-train: url("/assets/image/fon/fon.jpg");
$backimage-play: #F1CDB3;

// sitcher train / play mode
$color-switcher-train: #ffd861;
$color-switcher-play: #CEB2FC;
$backimage-switcher: url("/assets/image/fon/switcher.jpg");