* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: -1;

}

.weather {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__city {
  min-width: 1rem;
  font-size: 24px;
  color: #FFFFFF;
  transition-duration: 0.5s;
}

.wheather__temperature-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.weather__temperature {
  font-size: 16px;
}

.weather__description {
  font-size: 16px;
}

.weather-icon {
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}

.weather-icon:hover {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

.btn-wrapper {
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
}

.btn {
  border: 0;
  background: url("../assets/icon/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(0.8);
  padding-top: 7px;
  font-size: 14px;
  text-align: right;
  transition-duration: 0.5s;
}

.change-background {
  width: 131px;
  height: 30px;
}

.change-quote {
  width: 125px;
  height: 30px;
}

.btn:hover {
  filter: grayscale(.2);
  cursor: pointer;
  color: rgb(73, 109, 224);
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1.02)
}

.time {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 126px;
}

.date {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 0.5rem;
}

.name,
.focus {
  min-width: 1rem;
  transition-duration: 0.5s;
}

.weather__city:hover,
.weather__city:focus,
.name:hover,
.name:focus,
.focus:hover,
.focus:focus {
  color: rgb(73, 109, 224);
}


span {
  display: inline-block;
}

h2 {
  opacity: 0.8;
}

.quote {
  margin: 10px 34px 0;
  font-size: 18px;
}

.quote .figcaption {
  text-align: left;
}

.blockquote {
  height: 100px;
  text-align: center;
  font-style: italic;
}

.figcaption {
  height: 25px;
}

@media (max-width: 700px) {
  .weather__city {
    font-size: 20px;
  }

  .weather-icon {
    font-size: 26px;
  }

  .time {
    font-size: 96px;
  }

  .date {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .quote {
    font-size: 16px;
    margin-top: 0;
  }

  .btn-wrapper {
    column-gap: 10px;
  }
}

@media (max-width: 470px) {

  .weather__city {
    font-size: 18px;
  }

  .weather-icon {
    font-size: 26px;
  }

  .time {
    font-size: 64px;
  }

  .date {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  .quote {
    font-size: 14px;
    margin-top: 0;
  }

  .btn-wrapper {
    bottom: 10px;
  }
}