@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('/assets/fonts/HelveticaNeueCyr-Roman.eot');
  src: url('/assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/assets/fonts/AvenirNextRoundedStd-Demi.eot');
  src: url('/assets/fonts/AvenirNextRoundedStd-Demi.woff') format('woff'),
  url('/assets/fonts/AvenirNextRoundedStd-Demi.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.eot');
  src: url('/assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Regular.eot');
    src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }