@import "./reset";
@import "./const";
@import "./burger";
@import "./toggle";

.wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.cards__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.card {
    width: 275px;
    height: 275px;
    width: 300px;
    height: 280px;
    margin: 15px 15px;
    background: $trainBacground;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    &:hover {
        box-shadow: 0px 10px 17px 1px rgba(0, 0, 0, 0.5);
    }
}

.card__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__word {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.card__translate {
    margin-bottom: 5%;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.card__rotate {
    position: absolute;
    width: 40px;
    right: 18px;
    bottom: 8px;
    transition: all 200ms ease-in-out;
    // &:hover {
    //     transform: rotateY(180deg)
    // }
}

#path0 {
    &:hover {
        fill: rgba(9, 233, 236, 1);
    }
}

.hidden {
        display: none;
    }

.stars {
    width: 84%;
    height: 40px;
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
}

.star {
    width: 40px;
    height: 40px;
}

.hidden-star {
    display: none;
}

.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

 
