//@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap')
@import './common/map';
@import './common/vkeyboard';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.list-of-counries {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 50px;
}

#search {
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
  padding: 10px;
  width: 350px;
}

#results {
  height: 500px;
  overflow-y: scroll;
}

.countries {
  padding: 0;
  list-style-type: none;
  width: 333px;
  transition: 0.5s;
}

.country-item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 3px 0;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
  }

  &__flag {
    width: 30px;
  }

  &__name {
    flex: 2;
    font-weight: normal;
    letter-spacing: .5px;
    margin: 0 5px;
    text-align: center;
  }

  &__info {
    border-right: 1px solid #aaa;
    color: #777;
    padding: 0 10px;
    font-size: 20px;
    flex: 1;
    font-weight: 300;
   // letter-spacing: 1px;
    margin: 0;
  }

  &--text {
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }

}