* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  text-align:center;
  background-color:#F5F5F5;
  color:#000;
  background-attachment: fixed;
  background-image: url("/assets/image/fon/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {}
@media only screen and (min-width: 320px) and (max-width: 767px) {}