/*Reset CSS start*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*Reset CSSend*/

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("./assets/roboto-v20-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("./assets/roboto-v20-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"),
        url("./assets/roboto-v20-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("./assets/roboto-v20-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("./assets/roboto-v20-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("./assets/roboto-v20-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
    color: #000000;
}


b {
    font-weight: bold;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.first_screen {
    height: 744px;
    background: url(./assets/bg-image.jpg) no-repeat;
    background-size: cover;
}

.header {
    padding-top: 25px;
    margin-bottom: 25px;
}


.visuallyhidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}

.header_item {
    margin-top: 13px;
}

.header_item:first-child {
    margin-left: 502px;
    border-bottom: 1px solid white;
}

.header_item:nth-child(2) {
    margin-left: 85px;
}

.header_item:nth-child(3) {
    margin-left: 102px;
    margin-top: 0;
}

.header_item:nth-child(4) {
    margin-left: 100px;
}

.header_item:last-child {
    margin-left: 85px;
}

.logo {
    width: 44px;
    height: 44px;
}

.header_link,
.header_link_about {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.header_link_about {
    font-weight: 500;
    opacity: 1;
}


.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: 1;
    border-bottom: 1px solid white;
}

.your_life {
    padding-top: 134px;
}

.title_your_life {
    width: 734px;
    height: 75px;
    margin-left: 435px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.text_your_life {
    width: 504px;
    height: 50px;
    margin-left: 548px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.tbn_get_started {
    width: 184px;
    height: 46px;
    margin-left: 707px;
    padding: 15px 47px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
    font-family: Roboto;
    margin-bottom: 182px;
}

.tbn_get_started:hover {
    background: #009CC2;
}

.social_logo {
    height: 20px;
    width: 20px;
}

.social_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 715px;
    margin-right: 715px;
    padding-bottom: 90px;

}

.rappresent {
    height: 842px;
    padding-top: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: left;
    background: #FFFFFF;
}

.rappresent_content_block {
    width: 407;
    height: 582;
    margin-left: 269px;
    margin-top: 175px;
}

.rappresent_title_content_block {
    width: 368px;
    height: 57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;
}

.rappresent_text_content_blocK {
    max-width: 407px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color: #4E4E4E;
    margin-bottom: 29px;
}

.rappresent_tbn_get_started {
    width: 184px;
    height: 46px;
    margin-left: 0px;
    padding: 15px 47px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
    font-family: Roboto;
}

.rappresent_tbn_get_started:hover {
    background: #009CC2;
}

.raappresent_img_block {
    width: 407px;
    height: 582px;
    margin-left: 248px;
}

.community {
    height: 504px;
    background: #f5f6f7;
}

.slider_nav {
    padding-top: 82px;
    margin-left: 1248px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.slider_nav_arrow_left {
    margin-top: 2px;
}

.slider_nav_item1 {
    margin-left: 10px;
}

.slider_nav_item2 {
    margin-left: 4px;
}

.slider_nav_item3 {
    margin-left: 4px;
}

.slider_nav_arrow_rignht {
    margin-top: 2px;
    margin-left: 10px;
}


.slider_nav_arrow_left:hover,
.slider_nav_arrow_rignht:hover {
    cursor: pointer;
    opacity: .5;
}

.slider_nav_item1,
.slider_nav_item2,
.slider_nav_item3 {
    font-size: 18px;
    font-weight: 400;
    color: #373737;
}

.community_flex {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.community_user_card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 155px;
    margin-left: 269px;
}

.community_icon {
    margin-top: 34px;
    margin-left: 127px;
    width: 45px;
    height: 45px;
}

.community_title {
    margin-top: 20px;
    margin-left: 69px;
    width: 162px;
    font-size: 16px;
    font-weight: 500;
    color: #373737;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.community_text {
    width: 298px;
    height: 80px;
    color: #4e4e4e;
    text-align: center;
    line-height: 20px;
    margin-top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
}

.slider {    
    margin-left: 139px;
    height: 244px;
}

.slider_list {
    display: flex;
    margin-top: -1px;
}

.slider_item {
    width: 407px;
    height: 244px;
    margin-right: 30px;    
}

.slider_item:hover {
    cursor: pointer;
}
.implement {
    height: 842px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: left;
    background: #FFFFFF;
}

.implement_img_block {
    width: 407px;
    margin-top: 120px;
    height: 582px;
    margin-left: 269px;
}

.implement_content_block {
    width: 407px;
    height: 184px;
    margin-top: 319px;
    margin-left: 139px;
}

.implement_title_content_block {
    width: 368px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;
}

.implement_text_content_blocK {
    max-width: 407px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color: #4E4E4E;
    margin-bottom: 29px;
}

.implement_tbn_get_started {
    width: 180px;
    height: 46px;
    margin-left: 0px;
    padding: 15px 47px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
    font-family: Roboto;
}

.implement_tbn_get_started:hover {
    background: #009CC2;
}

.sign_up {
    height: 524px;
    background: url(./assets/bg-sign-up.jpg) no-repeat;
    background-size: cover;
}

.sign_up_text {
    width: 380px;
    height: 28px;
    margin-left: 610px;
    padding-top: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 58px;
}

.email_form_info {
    display: flex;
    flex-wrap: wrap;
}

.email_form_field {
    width: 340px;
    height: 46px;
    margin-left: 597px;
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: none;
    font-size: 18px;
    color: black;
    border: none;
}

.email_form_field::placeholder {
    font-size: 14px;
    padding-left: 4px;
}

.email_form_submit {
    width: 66px;
    height: 46px;
    background: #00AFDB;
    border: none;
}

.email_form_submit:hover {
    background: #009CC2;
}

.download {
    height: 464px;
    background: #f5f6f7;
}

.download__title {
    width: 251px;
    height: 28px;
    left: 675px;
    padding-top: 120px;
    margin-left: 676px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 49px;
}

.downloand__text {
    width: 480px;
    height: 40px;
    margin-left: 560px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: #4E4E4E;
    margin-bottom: 29px;
}

.download__buttons {
    width: 432px;
    margin-left: 597px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.download__buttons>.btn {
    display: flex;
    justify-content: space-between;
    width: 186px;
    padding: 0;
    margin: 0 28px 0 2px;
}

.btn__text_apple,
.btn__text_play {
    padding-top: 16px;
    padding-left: 19px;
    width: 108px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn__text_play {
    padding-left: 16px;
    width: 110px;
}

.btn__store {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 46px;
    background: #009CC2;
}

.btn:hover {
    background: #009CC2;
}

.btn {
    margin: 14px 0 0 0;
    padding: 0 4px 0 3px;
    width: 184px;
    height: 46px;
    background: #00AFDB;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.7px;
    border: 0;
    outline: 0;
}

.footer {
    height: 184px;
    background: #000;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.footer_item {
    margin-top: 61px;
}

.footer_item:first-child {
    margin-left: 160px;
}

.footer_item:nth-child(2),
.footer_item:nth-child(4) {
    margin-left: 19px;
}

.footer_item:nth-child(3),
.footer_item:nth-child(5) {
    margin-left: 20px;
}

.footer_item:nth-child(6) {
    margin-left: 383px;
}

.footer_item:last-child {
    margin-left: 447px;
}

.footer_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer_link:hover {
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
}

.footer_divider {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    font-weight: 400;
    color: #8f8f8f;
}

.footer_copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #818181;
}